.navbar {
  background-color: white;
  width: 100vw;
  height: 3rem;
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
}
.user {
  align-content: center;
}

.signup {
  color: green;
}

.logo {
  color: green;
  font-size: 2rem;
  align-self: center;
}

.map {
  width: 100%;
  height: calc(100vh - 4rem);
  z-index: 0;
  padding: 0;
  margin-top: 3.5rem;
}

.marker-form {
  border: black 10px;
  background-color: blue;
  position: absolute;
  top: 4rem;
  left: 1rem;
}

@media (max-width: 400px) {
  .logo {
    font-size: 1.3rem;
  }
}
